.slides {
  font-size: 4rem;
  border: 4px solid black;
  height: 70vh;
}

li > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

li > section > h2 {
  font-size: 2.5rem;
  margin-top: 1.5%;
}