/* This is an example of using Sass, otherwise plain CSS works too*/
@import '_reset';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';
@import '_colors';
@import '_carousel';
@import '_modal';

body {
  font-family: 'EB Garamond', serif;
  // background-image: url('https://persnicketyformalwear.files.wordpress.com/2016/12/19714080-elegant-wallpaper-design-fancy-background-stock-photo.jpg');
  overflow: hidden;
}

main {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide-container {
  background-color: transparent;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

heading {
  width: 100%;
}

.heading-quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-tagline {
  margin-top: 1vh;
  margin-left: 1vw
}
h1 {
  color: black;
  margin-bottom: 2vh;
  font-size: 4rem;
}

.thrive {
  font-size: 1.5rem;
  font-style: italic;
}

.quote {
  height: 15vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.sori {
  font-size: 1.5rem;
}

.dialect {
  font-size: 1rem;
}

.definition {
  font-size: 1rem;
  font-style: italic;
}

.hidden {
  display: none!important;
}
        

