/* This is an example of using Sass, otherwise plain CSS works too*/
@import '_reset';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';
@import '_colors-fonts';
@import '_mixins';
@import '_modal';

body {
  font-family: $main-font;

  main {
    height: 80vh;
    display: flex;
    align-items: center;
  

    .section-slides-container {
      width: 100%;
    }
  }
}

.section-slides {
  @include flex-column;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid black;
  height: 75vh;
} 

.section-heading {
  font-size: 2.5rem;
  margin-top: 1%;
  text-align: center;
}

.trips-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  text-align: center;
  margin: .5%;
  font-size: 2rem;
  overflow: auto;
}

.trips {
  margin: 2%;
  font-size: 1.2rem;
  font-style: $emphasize-font;
}

.trips-image-container {
  display: flex;
  justify-content: center;
}

.trips-image {
  margin: 2%;
  max-width: 20vw;
  max-height: 15vh;
  @include auto-height-width();
  box-shadow: 9px 11px 13px -1px rgba(166,157,157,0.6);
    -webkit-box-shadow: 9px 11px 13px -1px rgba(166,157,157,0.6);
    -moz-box-shadow: 9px 11px 13px -1px rgba(166,157,157,0.6);
}

.current {
  margin-top: 2%;
  @include flex-column;

}

.current article img {
  max-width: 40vw;
  max-height: 40vh;
  @include auto-height-width();
}

.full-image-slide {
  @include flex-column;
  justify-content: center;
  align-items: center;
}

.full-slide-image {
  display: block;
  max-width: 100%;
  max-height: 70vh;
  padding: 0% 3% 0% 3%;
  @include auto-height-width();
}

.create-trip-container {
  height: 50vh;
  @include flex-column;
  justify-content: space-around;
  align-items: center;
}

.input {
  height: 30px;
  width: 200px;
  border-radius: 4px;
  border: 2px solid black;
}

.destinations-dropdown {
  height: 100px;
}

.button {
  border: none;
  background: $button-background-color;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

.amount-spent {
  margin-top: 1%;
  font-size: 1.5rem;
  font-style: $emphasize-font;
  text-align: center;
}

.heading-quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-tagline {
  margin-top: 1vh;
  margin-left: 1vw;
}

h1 {
  color: $heading-color;
  margin-bottom: 2vh;
  font-size: 4rem;
}

.thrive {
  font-size: 1.5rem;
  font-style: $emphasize-font;
}

.quote {
  height: 15vh;
  width: 20vw;
  @include flex-column;
  justify-content: space-around;
  align-items: flex-start;
}

.sori {
  font-size: 1.5rem;
}

.dialect {
  font-size: 1rem;
}

.definition {
  font-size: 1rem;
  font-style: $emphasize-font;
}

.login-page {
  overflow: hidden;
}

.login-background-collage {
  margin: 1% 1% 0% 1%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-collage {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.collage-image {
  margin: 1% .5% 0% .5%; 
  max-width: 35vw;
  max-height: 35vh;
  @include auto-height-width();
}

.open-modal-button {
  margin-top: 1%;
}

@media screen and (max-width: 800px) {
  .trips-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .quote {
    display: none!important;
  }

  .glide__arrows {
    display: none!important;
  }

  .pending-section {
    height: 50%;
  }  
  
  .modal-container {
    margin-top: 15%;
    width: 80vw;
    height: 60vh;
    border-radius: 15px;
    box-sizing: border-box;
  }
}

.hidden {
  display: none!important;
}