/* This is an example of using Sass, otherwise plain CSS works too*/
@import '_reset';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';
@import '_colors';
@import '_carousel';
@import '_modal';

body {
  font-family: 'EB Garamond', serif;
  overflow: hidden;
}

main {
  height: 80vh;
  display: flex;
  align-items: center;
}

.section-slides-container {
  // height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  
}

.section-slides {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 4rem;
  border: 4px solid black;
  height: 70vh;
  width: 100%;
} 

.section-heading {
  font-size: 2.5rem;
  margin-top: 1.5%;
}

.trips-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  margin: 1%;
  padding: 1%;
  font-size: 2rem;
  height: auto;
  overflow: auto;
}

.trips {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
}

.trips-image-container {
  display: flex;
  justify-content: center;
}

.trips-image {
  margin: 2%;
  display: block;
  max-width: 20vh;
  max-height: 15vh;
  width: auto;
  height: auto;
}

.current article {
  border: none;
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.current article img {
  display: block;
  max-width: 40vh;
  max-height: 40vh;
  width: auto;
  height: auto;
}

.full-slide-image {
  display: block;
  margin-top: 2vh;
  max-width: 100%;
  max-height: 70vh;
  width: auto;
  height: auto;
}

.create-trip-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input {
  height: 30px;
  width: 200px;
  border-radius: 4px;
  border: 2px solid black;
}

.destinations-dropdown {
  height: 100px;
}

// .party {

// }


// }
// .start-date {

// }

// .duration {

// }

.total-button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.amount-spent {
  margin-top: 1%;
  font-size: 1.5rem;
  font-style: italic;
}

.heading-quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-tagline {
  margin-top: 1vh;
  margin-left: 1vw;
}

h1 {
  margin-bottom: 2vh;
  font-size: 4rem;
}

.thrive {
  font-size: 1.5rem;
  font-style: italic;
}

.quote {
  height: 15vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.sori {
  font-size: 1.5rem;
}

.dialect {
  font-size: 1rem;
}

.definition {
  font-size: 1rem;
  font-style: italic;
}

.hidden {
  display: none!important;
}
        

